# Config file
github/config.json

# IDEs
github/\.idea/workspace\.xml

# This/Last redirect service
github/public/last/index\.html
github/public/this/index\.html


# Streaming redirect tool
github/public/stream/admin/includes/*.db
