/* Your custom styles */
.help-block {
    color: red;
}
.dev_night_logo {
    padding: 10px
}
.dev_night_logo img {
    width: 400px
}
.shadowfilter {
    filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, .15));
    -webkit-filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, .15))
}
.shadowfilter_white {
    filter: drop-shadow(4px 4px 8px rgba(255, 255, 255, .15));
    -webkit-filter: drop-shadow(4px 4px 8px rgba(255, 255, 255, .15))
}
